<% include ../../partials/head %>

<body>

<header>
    <% include ../../partials/header %>
</header>
<div class="container jumbotron">
    <div class="row">

        <div class="col-md-4">
            <b><span class="fa fa-sliders"></span> <%= poll.title %></b>
            <form action="/poll/<%= poll._id %>" method="post">
                <% poll.options.forEach(function(option) { %>
                <input type="radio" name="option" value="<%= option.desc %>"> <%= option.desc %><br>
                <% }); %>

                <% if (user) { %>
                <input type="text" name="newOption" placeholder="New Option" value=""><br>
                <% } %>

                <input class = "btn btn-danger" type="submit" value="Vote">
                </form>
        </div>

        <div class="col-md-8">
            <h2><%= poll.title %></h2>
            <canvas id="myChart" width="300" height="200"></canvas>
            <script>

            var poll = <%- JSON.stringify(poll) %>;
            var desc = [], votes = [];
            poll.options.forEach(function(poll){
                desc.push(poll.desc);
                votes.push(poll.votes);
            });
            var palettes = ["BuGn","BuPu","GnBu","OrRd","PuBu","PuBuGn","PuRd","RdPu","YlGn","YlGnBu","YlOrBr","YlOrRd"];
            var colorScheme = palettes[Math.floor(Math.random() * palettes.length)]
            var colorScale = chroma.scale(colorScheme).colors(desc.length);

            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: desc,
                    datasets: [{
                        label: '# of Votes',
                        data: votes,
                        backgroundColor: colorScale,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });



            console.log(desc, votes, colorScheme);

            </script>
        </div>
    </div>

</div>
<footer>
    <% include ../../partials/footer %>
</footer>


</body>
</html>