<% include ../../partials/head %>

<body>

<header>
    <% include ../../partials/header %>
</header>
<div class="container jumbotron">
    <div class="row">

        <div class="col-md-4">
            <b><span class="fa fa-sliders"></span> <%= poll.title %></b>
            <form action="/poll/<%= poll._id %>" method="post">
                <% poll.options.forEach(function(option) { %>
                <input type="radio" name="option" value="<%= option.desc %>"> <%= option.desc %><br>
                <% }); %>
                <input type="text" name="newOption" placeholder="New Option" value=""><br>
                <input class = "btn btn-danger" type="submit" value="Vote">
                </form>
        </div>

        <div class="col-md-8">
            <h2>Chart goes here</h2>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            // POLL Data
            var poll = <%- JSON.stringify(poll) %>
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

           
            console.log("insdie the script tags ?")
            </script>
            <%  var theUrl = "/results/" + poll._id %>
            <% console.log("Am i on server or client side ?") %>
            <b>Here's the URL: <%= theUrl %></b>
            <ul>
                <% poll.options.forEach(function(option) { %>
                <li><%= option.desc %>: <%= option.votes %></li>
                <% }); %>
            </ul>
        </div>
    </div>

</div>
<footer>
    <% include ../../partials/footer %>
</footer>
<!--<script src="../../../public/js/chartPoll.js"></script>-->
</body>
</html>
